apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-summary-backend
  labels:
    app: todo-summary
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-summary
      tier: backend
  template:
    metadata:
      labels:
        app: todo-summary
        tier: backend
    spec:
      containers:
        - name: todo-summary-container
          image: tusharpol/todo-summary:16
          imagePullPolicy: Always

          ports:
            - containerPort: 8081

          envFrom:
            - configMapRef:
                name: todo-summary-config
            - secretRef:
                name: todo-summary-secret

        
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"

          
          

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 120
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 90
            periodSeconds: 10

